#detalhes {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 4%; /* Espaço entre as colunas */
    justify-content: center;
    background-color: #18191a;
}


.container h3 {
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(90deg, #ff8c00, #1e90ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}