#detalhes {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 4%;
    justify-content: center;
    background-color: #18191a;
    display: flex;
    gap: 20px;
}


.nosso h3 {
    margin-top: 20px;
    font-size: 2rem;
    background: linear-gradient(90deg, #ff8c00, #1e90ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 13%;
}

#detalhes1 {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 4%;
    justify-content: center;
    background-color: #18191a;
    display: flex;
    gap: 20px;
    transform: translateX(-8.8%);
}

#detalhes2 {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 4%;
    justify-content: center;
    background-color: #18191a;
    display: flex;
    gap: 20px;
    transform: translateX(-17.6%);
}

#detalhes3 {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 4%;
    justify-content: center;
    background-color: #18191a;
    display: flex;
    gap: 20px;
    transform: translateX(-8.8%);
}

#detalhes4 {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 4%;
    justify-content: center;
    background-color: #18191a;
    display: flex;
    gap: 20px;
    transform: translateX(-10.3%);
}

#detalhes5 {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 4%;
    justify-content: center;
    background-color: #18191a;
    display: flex;
    gap: 20px;
    transform: translateX(-22.3%);
}
