body {
    overflow-x: hidden;
    background-color: #18191a;
}

nav {
    background-color: #161515;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    height: 80px;
}

img {
    height: 40px;
    margin-right: 10px;
    color: #fff;
}